@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "@fontsource/montserrat";
@import "@fontsource/roboto";

$font-family-montserrat: "Montserrat", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

$color-whitish: #eef4ed;
$color-whitish-darker: #bfc4be;
$color-blackish: #14110f;
$color-rust: #984447;
$color-blue: #4082a5;
$color-green: #287a6a;
