@import "variables";
@import "breakpoints";

.page {
    margin: 8rem 0;

    display: grid;
    row-gap: 4rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        ". header ."
        ". cards .";
    .header {
        grid-area: header;
        border: 3px solid black;
        padding: 0 1rem;
        font-family: $font-family-montserrat;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .cards {
        grid-area: cards;

        display: grid;
        row-gap: 4rem;
        grid-template-columns: 1fr;
        .card {
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr;
        }
    }
}
