.logo {
    transform: translateY(0px);
    width: 280px;
    cursor: pointer;
    .cls1 {
        fill: #eef4ed;
    }
    .cls2 {
        fill: #4082a5;
    }
    .cls3 {
        fill: #287a6a;
    }
}
